section {
    background-color: white;
    max-width: 600px;
    margin:auto;
    padding: 10px;
    border-radius: 10px;
    transition: box-shadow 0.5s 0s linear;
}
section:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.10);
}
section > .title{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 2px;
}
section >form {
    display: flex;
    flex-wrap: nowrap;
    place-content: center;
    margin-bottom: 40px;
}
section > form >.item {
    width: 70%;
    height: 30px;
    padding: 5px;
    margin: 0;
    outline: none;
    background-color: #e2e8f0;
    border: 0;

}::placeholder {
    text-transform: capitalize;
    color: red;
 }
section > form > .add-btn{
    height: 30px;
    width: 100px;
    background-color:#22d3ee ;
    color: white;
    border: 0;
    border-radius: 0 5px 5px 0;
    margin-left: -4px;
    cursor: pointer;
    text-transform: capitalize;
    transition: background-color 0.5s 0s linear;
}
section > form > .add-btn:hover {
    background-color: #3dadbf;
}

.itemsBlock  {
    width: 80%;
    height: 40px;
    margin: auto;
    display: grid;
    grid-template-columns: 20px 3fr 50px;
    column-gap: 10px;
    place-content: center;
}
.itemsBlock > p {
    text-align: start;
    margin: 0;
}
.itemsBlock > button {
    height: max-content;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    transition: background-color , 0.3s  0s  linear;
    cursor: pointer;
    background-color: black;
    color: white;
}
.itemsBlock > button:hover {
    background-color: #22d3ee;
}

